#gc-container {
}

.gc-font {
    font-size: 16px;
    font-family: sans-serif;
}

#gc-hint-overlay {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2147483647;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.2);
    overflow-x: hidden;
    cursor: crosshair;
    text-align: center;
    text-decoration: none;
}

#gc-hint-overlay span{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #ffffff;
}

#gc-selection-container {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    left: 0px;
}

#gc-selection {
    position: absolute;
    background: #e0eaf1;
    border: 1px solid #0c65a5;
    opacity: 0.5;
}

#gc-selection.selected {
    background: #E0F1E4;
    border-color: #0CA50E;
    opacity: 0.5;
}

.gc-selection-btn {
    display: none;
    position: absolute;
    height: 30px;
    padding: 0 5px;
    border-radius: 3px;
    border: 3px solid #777;
    background-color: #fff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

#gc-selection-cancel {
    margin-left: 72px;
}


#gc-capframe-border {
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-image: initial;
    touch-action: none;
    pointer-events: auto;

}

#gc-capframe-toolbar {
    height: 36px;
    width: 100%;
    min-width: 170px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #000;
    border-bottom: none;
}

.gc-capframe-btn {
    display: inline-block;
    position: relative;
    top: 5px;
    height: 26px;
    margin-left: 5px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #e1e1e1;
    color: #000;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

#gc-capframe-btnGifStop {
    display: none;
}

#gc-capframe-frame {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 3px solid #000;
    box-sizing: content-box;
    user-select: none;
    background-color:rgba(0,0,0,0);
}

#gc-capframe  {
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0);
    box-sizing: content-box;
}