html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: lavender;
    overflow: hidden !important;
}

body>div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body>div>div {
    width: 100%;
    flex-shrink: 1;
}

#header {
    height: 60px;
    background-color: #5694f0;
}

#header span {
    margin-left: 60px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 26px;
    line-height: 60px;
}

#btnDownload {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 18px;
    height: 24px;
    padding: 0 10px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #e6ebd79a;
    background: #e6ebd79a;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
    flex-grow: 1;
}

#footer {
    display: none;
    bottom: 0;
    height: 200px;
    background-color: #5694f0;
}

#editor-box {
    position: relative;
    overflow: hidden;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: 40px;
}

#canvas-frame {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas-editor {
    
}

.editable-canvas-image {
    border: none !important;    
}

#rawImg {
    position: fixed;
    top: 0px;
    left: 0px;
    user-select: none;
    z-index: -1;
}

#merge-canvas {
    display: none;
}

#preview-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.gifFramePreview {
    width: 170px;
    min-width: 170px;
    height: 170px;
    padding: 6px;
}

.gifFramePreview img{
    width: 160px;
    height: 160px;
    transform: translate(5px, 5px);
}

.gifFramePreview:hover img {
    width: 170px;
    height: 170px;
    transform: none;
}

.gifFramePreview.selected {
    background-color: #4476C0;
}

.gifFramePreview.selected img {
    width: 170px;
    height: 170px;
    transform: none;
}
